
.ui-input {
  min-height: 3rem;
}

.uiAlert {
  margin: 1rem auto;
  padding: 1.75rem 2.25rem;
  width: 90%;
  max-width: 40rem;
  background-color: #e145570e;
  color: var(--color-danger);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
  border: 1px solid var(--color-danger);
}

.title {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  color: var(--color-primary);
}

.uifooter {
  margin-top: 2rem;
  width: 100%;
  height: 4rem;
  background: var(--color-gray) ;
  display: grid;
  place-items: center;
  color: var(--color-dark);
}

.ui-main {
  margin-bottom: 2rem;
  margin-top: 2rem;
  min-height: 90vh;
}